{% extends "bilard_blogs/base.html" %}

{% block content %}
    <h3 class="blog-post-title"> About Adebayo Osinulu (prefers to be called Bilard)</h3>
    <p class="blog-post-meta">Bilard, a shy young aspiring full stack web developer using python framework (Django & Flask). A graduate of Computer Engineering from the prestigious Yaba College of Technology, 
        a huge Marvel Fan, loves to listen to music especially Rap/Hip-Hop genre, his favourite artist includes J.Cole, Kendrick Lamar, Eminem, Nicki Minaj (you get the drill sha...lol)
        loves Dodo (plantain), infact he's a solid member of #DODOGANG association, he lives basically in his laptop (life of an introvert), has a great sense of humour, good looking(yup...he's single), kind hearted, trustworthy and a God fearing fellow.
        You can contact him on +2348024201277 or Whatsapp: +2347088688975.
    </p>
{% endblock %}